body {
    margin: 10px;
}

p::first-letter {
font-size: 140%;
font-weight: bold;
}

p::first-line {
    font-size: 140%;
    font-weight: bold; 
}

::selection {
    background-color: pink;
}

p::before {
    content: "...";
    display: block ;
}

p::after {
    content: "...";
    display: block ;
}

/** Selectors specificity
It goes from ID, to class, to element type */

h1 {
    color: green;
}
 
.highlight {
    color: deeppink ;     /*! "color: deeppink !important;" to override other rules. avoid this bad practice */
}

#products {
    color: blue;
} 

#products {                 /* the last equally specific rule gets applied */
    color: brown;
} 

.highlight#products {
    color: blueviolet;
}

h1#products {
    color: yellowgreen;
}

.featured #products {           
color: tomato;
}                    /* el caracter espacio hace la diferencia entre que lo tome o no como un elemento dentro de si */

/* Color */                 /* todo: use color picker  */

.box {
height: 200px;
width: 200px;
background-color: rgba(230, 205, 16, 0.5); /* other systems: named color, HSL (also with alpha) and hexadecimal */
}

/* Gradient */              /* todo: use gradient generator */

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(yellow, dodgerblue);
}

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, yellow, dodgerblue);
}

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to bottom right, yellow, dodgerblue);
}

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(90deg, yellow, dodgerblue);
}

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(yellow 15%, dodgerblue);
}

.gradient {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(yellow 15%, dodgerblue, tomato);
}

.gradient {
    height: 200px;
    width: 600px;
    background: radial-gradient(circle at top left, yellow, dodgerblue, tomato);
}

/** Borders */

.gradient {
    height: 200px;
    width: 600px;
    background: radial-gradient(circle at top left, yellow, dodgerblue, tomato);
    border: 10px dashed royalblue;        /* dashed, dotted, solid */
    border-width: 10px 20px 15px 5px;       /* trbl */
    border-radius: 10px;                    /* todo: to create shapes look for css shapes */
}

.triangle {
    height: 0px;
    width: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid red;
}

/** Shadows */

.shadow {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    box-shadow: -10px 10px 30px gray;    /* third number is a blur */   
    margin-left: 20px;
}

.shadow {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    box-shadow: 0 0 30px gray;       /* without the first two the shadows is under the object */
    margin-left: 20px;
}

h1 {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* this is a better option than a named color as it blends better */
    margin-left: 10px;
}