<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- 
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p> 
    -->

    <!-- 
        <div class="box"></div>
        <div class="box"></div> 
    -->

    <!-- 
        <span class="box"></span><span class="box"></span> 
    -->
    <!-- erasing the spaces between these elements will reflect in the display too, joining the elements visualy  -->

    <!-- 
    <div class="box">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed neque
        perferendis fugit laborum totam voluptate laudantium saepe id. Dicta
        quidem, alias, beatae, ipsum rerum eaque cum numquam nulla autem
        perferendis aliquam ea! Odit, architecto mollitia, eius, iure
        dignissimos facilis repudiandae fuga blanditiis maxime molestias
        excepturi? Totam neque voluptates esse voluptatum?
      </p>
    </div> 
-->
    <!-- 
    <div class="box">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        facere?
      </p>
    </div> 
-->
    <!-- 
    <div class="boxes">
      <div class="box box-one">A</div>
      <div class="box box-two">B</div>
      <div class="box box-three">C</div>
    </div> 
-->

    <!-- 
        <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        qui quibusdam repellendus quos eveniet. Consectetur minima, repellat
        error repellendus aliquam, animi corporis, quaerat dolores voluptatum
        eos aperiam voluptates omnis praesentium culpa enim minus! Amet
        recusandae, quas illum assumenda laboriosam laborum doloremque quod
        obcaecati? Eaque, fugit consequuntur! Nisi veniam illo repellat?
      </p>
 -->

    <!-- <div class="clear"></div> -->
    <!-- First solution for floated elements: this div will clear out the float. always apply after a float, but it's not semanticaly important. Second and better solution: pseudo-elements 
    </article>
    -->

    <!-- 
    <div class="container">
      <div class="box box-one">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box">D</div>
      <div class="box">E</div>
      <div class="box">F</div>
      <div class="box">G</div>
      <div class="box">H</div>
    </div> -->
    <!-- 
    <div class="container">
      <div class="box box-one">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box box-four">D</div>
    </div> 
  -->
    <!-- 
    <p class="first">First</p>
    <p>Second</p> -->

    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          dignissimos, officia cum facere inventore unde aperiam quaerat dolor
          fugiat quisquam non tempora voluptatibus, porro earum illo eum? Ipsum,
          similique expedita.
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ut
          et exercitationem recusandae eaque est fuga quia, ea, accusamus modi
          numquam quos vel, iure distinctio! Officia numquam voluptates nobis
          aut!
        </p>
      </div>
    </div>
  </body>
</html>
