<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Exercises</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
        <nav class="navbar">
          <div class="box">About</div>
          <div class="box">Courses</div>
          <div class="box">Forum</div>
          <div class="box">Learning Paths</div>
          <div class="box">Contact</div>
        </nav>
    </header>
    

    <!-- Photo gallery -->
    <main>
      <section>
        <div class="photogal">
          <div class="photos"><img src="/images/800x600/photo-1417533366444-43834ad6b3bb.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1453614512568-c4024d13c247.jpg" alt=""></div>
          <div class="photos third-photo"><img src="/images/800x600/photo-1455560460927-c48345dd421d.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1457280468258-28589fb67a93.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1457347876270-97799484c564.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1461555806864-d8b528023e7c.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1462450806522-59ae61ea99fa.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1473674887131-e28696a84ed6.jpg" alt=""></div>
          <div class="photos"><img src="/images/800x600/photo-1475296204602-08d15839e95f.jpg" alt=""></div>
          </div>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
